@charset "UTF-8";

/**
	Utilitarios
**/

.bw-glyphicon-large {
	font-size: 18px;
}

span.thumbnail:hover {
	border: 1px solid #307cfb;
	cursor: pointer;
}

label.bw-required:after {
	content: " * "
}

.bw-text-left {
	float: left;
}

.bw-text-right {
	float: right;
}

/**
	Componentes
**/

.bw-field-action__icon {
	margin: 5px 0 0 8px;
}

.bw-field-action {
	display: flex;
}

/** Upload **/
.bw-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.bw-upload-form-file {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	
	font-size: 500px;
}

/** Tabela Simples **/
.bw-tabela-simples {
	margin-top: 15px;	
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px; 
}

.bw-tabela-simples table tr td {
	border-top: none;
	border-bottom: 1px solid #e7eaec;
	padding: 10px;
	vertical-align: middle;
}

/** Paginas do Sistema **/
.table-cervejas-col-foto {
	min-width: 50px;
	width: 50px;	
}

.table-cervejas-col-sku,
.table-estilos-col-codigo,
.table-clientes-col-codigo,
.table-cidades-col-codigo {
	width: 90px;
	text-align: center;
}

.table-cervejas-col-estilo,
.table-clientes-col-tipoPessoa {
	width: 120px;
}

.table-clientes-col-telefone,
.table-clientes-col-cpfCnpj,
.table-cidades-col-estado {
	width: 160px;
}

.table-clientes-col-cidade-estado {
	width: 180px;	
}

.table-cervejas-col-origem {
	width: 100px;
}

.table-cervejas-col-valor {
	width: 100px;
	text-align: right;
}

.table-cervejas-col-acoes {
	width: 80px;
}