<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-simples">
	
	<th:block layout:fragment="content">
		<div class="aw-error-panel">
			<h1 class="aw-error-panel__code">
				<i class="fa  fa-location-arrow"></i> 500
			</h1>
	
			<h2 class="aw-error-panel__title">Erro interno do servidor</h2>
	
			<div class="aw-error-panel__description">
				Desculpe, algo deu errado com nosso sistema porque não tenta atualizar a página?
				ou você pode contactar o administrador do sistema.
				<br/><br/>
				<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
			</div>
		</div>
	</th:block>
</html>