<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://www.brewer.org"
	layout:decorator="layout/layout-padrao">
	
	<head>
		<title>Brewer - Cadastro de cerveja</title>
	</head>
	
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1> Cadastro de cerveja </h1>					
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cervejas}">
								<i class="glyphicon glyphicon-search" ></i> <span class="hidden-xs hidden-sm">Pesquisa</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="post" th:object="${cerveja}" class="form-vertical  js-form-loading">
				
				<brewer:message  />
				
				<div class="row">
					<div class="col-sm-2" brewer:haserror="sku">
						<div class="form-group">
							<label for="sku" class="control-label bw-required">SKU:</label>
							<input type="text" th:field="*{sku}" id="sku" name="sku" class="form-control" />
						</div>
					</div>
					
					<div class="col-sm-10" brewer:haserror="nome">
						<div class="form-group">
							<label for="nome" class="control-label bw-required">Nome:</label>
							<input type="text" th:field="*{nome}" id="nome" name="nome" class="form-control" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12" brewer:haserror="descricao">
						<div class="form-group">
							<label for="descricao" class="control-label bw-required">Descrição:</label>
							<textarea th:field="*{descricao}" id="descricao" rows="3" class="form-control"></textarea>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3" brewer:haserror="estilo">
						<div class="form-group">
							<label for="estilo" class="control-label bw-required">Estilo:</label>
							<div class="bw-field-action">
								<select th:field="*{estilo}" id="estilo" class="form-control">
									<option value="">Selecione o estilo</option>
									<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}" />
								</select>
								
								<div class="bw-field-action__icon">
									<a href="" data-toggle="modal" data-target="#modal-cadastro-rapido-estilo">
										<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3" brewer:haserror="sabor">
						<div class="form-group">
							<label for="sabor" class="control-label bw-required">Sabor:</label>
							<select th:field="*{sabor}" id="sabor" class="form-control">
								<option value="">Selecione o sabor</option>
								<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"/>
							</select>
						</div>
					</div>
					
					<div class="col-sm-3" brewer:haserror="teorAlcoolico">
						<div class="form-group">
							<label for="teorAlcoolico" class="control-label bw-required">Teor alcoólico:</label>
							<div class="input-group">
								<input type="text" th:field="*{teorAlcoolico}" id="teorAlcoolico" name="teorAlcoolico" class="form-control js-decimal" />
								<div class="input-group-addon">%</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6" brewer:haserror="origem">
						<div class="form-group">
							<label for="origem" class="control-label bw-required">Origem:</label>
							<div>
								<th:block th:each="origem : ${origens}">
									<div class="radio radio-inline">
										<input th:field="*{origem}" th:id="${origem.ordinal(origem.descricao)}" th:value="${origem}"  type="radio" name="origem" />
										<label th:for="${origem.ordinal(origem.descricao)}" th:text="${origem.descricao}">Nacional</label>	
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3" brewer:haserror="valor">
						<div class="form-group">
							<label for="valor" class="control-label bw-required">Valor:</label>
							<div class="input-group">
								<input th:field="*{valor}" type="text" id="valor" name="valor" class="form-control js-decimal" />
								<div class="input-group-addon">R$</div>
							</div>
						</div>
					</div>	
					
					<div class="col-sm-3" brewer:haserror="comissao">
						<div class="form-group">
							<label for="comissao" class="control-label bw-required">Comissão:</label>
							<div class="input-group">
								<input th:field="*{comissao}" type="text" id="comissao" name="comissao" class="form-control js-decimal" />
								<div class="input-group-addon">%</div>
							</div>
						</div>
					</div>	
					
					<div class="col-sm-3" brewer:haserror="quantidadeEstoque">
						<div class="form-group">
							<label for="estoque" class="control-label bw-required">Estoque:</label>
							<input th:field="*{quantidadeEstoque}" type="text" id="estoque" name="estoque" class="form-control js-integer" />
						</div>
					</div>	
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<input type="hidden" th:field="*{foto}" />
							<input type="hidden" th:field="*{contentType}" />
							
							<label class="control-label">Foto:</label>
							
							<div class="bw-upload" th:attr="data-url-fotos=@{/fotos}">
								<div class="js-upload">
									<i class="glyphicon glyphicon-cloud-upload"></i>
									<span>Arraste a foto aqui ou </span>
									<a class="bw-upload-form-file">selecione <input type="file" accept=".jpg, .png, .jpeg" /> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
		
		<div th:replace="extras/cadastro-rapido-estilo :: modal"></div>	
		<th:block th:replace="hbs/foto-cerveja"></th:block>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/cerveja.upload.foto.js}"></script>
	</th:block>
</html>