<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://www.brewer.org"
	layout:decorator="layout/layout-padrao">
	
	<head>
		<title>Brewer - Pesquisa de cervejas</title>
	</head>
	
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1> Pesquisa de cervejas </h1>					
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cervejas/novo}">
								<i class="glyphicon glyphicon-plus-sign" ></i> <span class="hidden-xs hidden-sm">Nova cerveja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="get" class="form-vertical  js-form-loading" th:object="${cervejaFilter}">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<label for="sku" class="control-label">SKU:</label>
							<input type="text" id="sku" name="sku" class="form-control" th:field="*{sku}" />
						</div>
					</div>
					
					<div class="col-sm-10">
						<div class="form-group">
							<label for="nome" class="control-label">Nome:</label>
							<input type="text" id="nome" name="nome" class="form-control" th:field="*{nome}" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="estilo" class="control-label">Estilo:</label>
							<div class="bw-field-action">
								<select id="estilo" class="form-control" th:field="*{estilo}">
									<option value="">Todos os estilos</option>
									<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}" />
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="sabor" class="control-label">Sabor:</label>
							<select id="sabor" class="form-control" th:field="*{sabor}">
								<option value="">Todos os sabores</option>
								<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"/>
							</select>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="origem" class="control-label">Origem:</label>
							<div>
								<div class="radio radio-inline">
									<input id="todasAsOrigens" th:checked="${origem == null}"  type="radio" name="origem" />
									<label for="todasAsOrigens">Todas</label>	
								</div>
								<th:block th:each="origem : ${origens}">
									<div class="radio radio-inline">
										<input th:id="${origem.ordinal(origem.descricao)}" th:value="${origem}"  type="radio" name="origem" th:field="*{origem}" />
										<label th:for="${origem.ordinal(origem.descricao)}" th:text="${origem.descricao}">Nacional</label>	
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="precoDe">Preço unitário:</label>
							<div class="form-inline">
								<input id="precoDe" type="text" class="form-control aw-form-control-inline-sm js-decimal" th:field="*{valorDe}" />
								<label for="precoAte" class="aw-form-label-between">até</label>
								<input id="precoAte" type="text" class="form-control aw-form-control-inline-sm js-decimal" th:field="*{valorAte}" />
							</div>
						</div>
					</div>
				</div>
				
				<button class="btn btn-primary" type="submit">Pesquisar</button>
			</form>
			
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto"></th>
							<th class="table-cervejas-col-sku">
								<brewer:order page="pagina" field="sku" text="SKU" />
							</th>
							<th class="table-cervejas-col-nome">
								<brewer:order page="pagina" field="nome" text="Nome" />
							</th>
							<th class="table-cervejas-col-estilo">Estilo</th>
							<th class="table-cervejas-col-origem">Origem</th>
							<th class="table-cervejas-col-valor">
								<brewer:order page="pagina" field="valor" text="Valor" />
							</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cerveja : ${pagina.content}">
							<td class="text-center">
								<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive"></img>
							</td>
							<td th:text="${cerveja.sku}" class="text-center"></td>
							<td th:text="${cerveja.nome}"></td>
							<td th:text="${cerveja.estilo.nome}"></td>
							<td th:text="${cerveja.origem.descricao}"></td>
							<!-- <td th:text="|R$ ${{cerveja.valor}}|" class="text-right"></td> -->
							<td>
								<span class="bw-text-left">R$</span>
								<span class="bw-text-right" th:text="${{cerveja.valor}}">0,00</span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								
								<a class="btn btn-link btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${pagina.empty}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<brewer:paginator page="pagina" />
		</div>
	</section>
</html>